/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ******* */

/* VARIABLES */

:root {
  --BODY-BG-COLOR: white;
}
/*  */

body {
  text-align: center;
  background-color: var(--BODY-BG-COLOR);
}

nav {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

main {
  height: max-content;
  width: 100%;
  margin: 10px 10px;
  padding: 20px;
}

.hero {
  height: 60vh;
  padding: 20px;
  margin: 10px;
}

.random-intro {
  width: 100%;
  height: max-content;
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  height: 5vh;
  width: 100%;
  margin-top: 10px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 5px auto;
}

.socials a {
  color: black;
}

h1 {
  text-align: center;
}

h3 {
  font-family: geneva;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

/* ------for the search input animation---- */
.box {
  height: 45px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  background: #fff;
  border-radius: 45px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box:hover input,
.box:hover input {
  width: 200px;
}

.box input {
  width: 0px;
  outline: none;
  font-weight: 500;
  transition: 0.8s;
  border: none;
  background: transparent;
}

.box span i {
  color: green;
  font-size: 25px;
}
/* ------------- */

button {
  margin: 10px auto;
  display: block;
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-container {
  width: 300px;
  height: max-content;
  margin: 20px auto;
}

.wrapper-search {
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.fetch-container {
  width: 100%;
  height: min-content;
}

.fetch-quote {
  width: 85%;
  height: max-content;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
}

.result {
  max-width: max-content;
  min-height: min-content;
  margin: auto;
}

.quote {
  font-family: "Times New Roman", Times, serif;
}

.category {
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
}

.quote-container {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  height: max-content;
  margin: 10px auto;
}

.quote-container ul {
  height: 80%;
}

ul li {
  list-style-type: none;
}

ul li:last-child span {
  margin: 10px 5px;
}

@media screen and (min-width: 1004px) {
  .search-container {
    width: 500px;
  }

  .wrapper-search {
    width: 300px;
  }

  .quote-container {
    width: 45%;
  }

  .fetch-quote {
    width: 60%;
  }
  .random-intro {
    display: flex;
    justify-content: space-between;
  }
  .box:hover input,
  .box:focus input {
    width: 500px;
  }
}
